@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #08080d;
  color: #e8e0cc;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #08080d;
}
::-webkit-scrollbar-thumb {
  background: rgba(201, 162, 39, 0.4);
}
